# Python
__pycache__/
myenv/
src/__pycache__/       
build/
dist/ 
*.egg-info/

# Data Files
output_data/*
!output_data/.gitkeep

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store

# Testing 
.pytest_cache/
.coverage
htmlcov/